body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    position: absolute;
    left: 50%; /* Move the container 50% from the left */
    text-align: center; /* Center text horizontally */
    transform: translateX(-50%);

}

.textContainer h1 {
    font-family: 'Poppins', sans-serif; /* Use Roboto font */
    color: #000; /* Set default text color */
    margin: 0; /* Remove default margin */
    padding-top: 30px;
}

.imageWrapper {
    display: inline-block;
    position: relative;
    box-shadow:  10px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid #ccc; /*Thin border around the image */
    padding: 4px;
}