<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artwork Display</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body class="bg-info text-white">
    <div id="imageContainer" class="text-center">
        <div class="imageWrapper">
            <img id="dynamicImage" src="{{ url_for('static', filename='album_art.jpg') }}?{{ time }}" alt="Image" width="300" height="300">
        </div>
        <div class="textContainer">
            <h1 id="currentlyPlaying">Now Playing</h1>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

<script type=text/javascript>

function refreshArtwork(){
    console.log('refresh Artwork function called'); // Debug alert

    const img = document.getElementById('dynamicImage');
    const newImg = document.createElement('img');
    const oldImg = document.getElementById('dynamicImage');

            
    newImg.id = 'dynamicImage';
    newImg.src = "{{ url_for('static', filename='album_art.jpg') }}" + '?' + Math.random();
    newImg.alt = 'Image';
    newImg.width = 300;
    newImg.height = 300;

    // Use the load event to ensure the image has loaded before displaying
    newImg.onload = function() {
        console.log('Image loaded:', newImg.src); // Debug log
        oldImg.replaceWith(newImg);

        const colorThief = new ColorThief();
        let colorArray = colorThief.getColor(newImg);
        let rgbString = "rgb(" +  colorArray[0].toString() + "," + colorArray[1].toString() + "," + colorArray[2].toString()  + ")";
        document.body.style.backgroundColor = rgbString;
        changeHeaderBasedOnLuminance(colorArray);
        console.log(rgbString);
    };
}

function getLuminance(r,g,b){
    return 0.2126 * r + 0.7152 * g + 0.0722 * b;
}

function changeHeaderBasedOnLuminance(colorArray){
    luminance = getLuminance(colorArray[0], colorArray[1], colorArray[2]);
    if(luminance > 128) { // Halfway point on 255 scale
        textColor = "black";
    } else {
        textColor = "white";
    }
    document.getElementById("currentlyPlaying").style.color = textColor;
}
function startLogic(){
    document.addEventListener('DOMContentLoaded', function() {
        try {
            setInterval(refreshArtwork, 5000); // Change image every 5 seconds
        } catch (error) {
            console.log(error);
        }
    });
}

startLogic();
</script>
</html>