<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artwork Display</title>
</head>
<body class="bg-info text-white">
    <div id="imageContainer" class="text-center">
        <h1 class="mt-5">Currently Playing</h1>
        <img id="dynamicImage" src="{{ url_for('static', filename='album_art.jpg') }}?{{ time }}" alt="Image" width="300" height="300">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

<script type=text/javascript>

function refreshArtwork(){
    console.log('refresh Artwork function called'); // Debug alert
    const container = document.getElementById('imageContainer');
    const img = document.getElementById('dynamicImage');
    const newImg = document.createElement('img');
    const oldImg = document.getElementById('dynamicImage');

            
    newImg.id = 'dynamicImage';
    newImg.src = "{{ url_for('static', filename='album_art.jpg') }}" + '?' + Math.random();
    newImg.alt = 'Image';
    newImg.width = 300;
    newImg.height = 300;

    // Use the load event to ensure the image has loaded before displaying
    newImg.onload = function() {
        console.log('Image loaded:', newImg.src); // Debug log
        container.replaceChild(newImg, oldImg); // Replace old image with new one after it has loaded

        const colorThief = new ColorThief();
        let colorArray = colorThief.getColor(newImg);
        let rgbString = "rgb(" +  colorArray[0].toString() + "," + colorArray[1].toString() + "," + colorArray[2].toString()  + ")";
        document.body.style.backgroundColor = rgbString;
        console.log(rgbString);
    };
}

try {
    // Change the image every 5 seconds (5000 milliseconds)

    setInterval(refreshArtwork, 5000);
} catch (error) {
    console.log(error)
}

</script>
</html>